@media (max-width: 740px) {
    .container-right {
        width: 100%;
    }

    .container-left {
        width: 100%;
    }

    .container {
        display: block;
    }

    .item-reply-action {
        display: flex;
        flex-direction: column;
    }

    .menu-icon {
        display: block;
    }

    .icon {
        position: fixed;
        top: 40px;
        z-index: 1;
        background-color: #000;
        display: none;
        flex-direction: column;
        padding-right: 100%;
    }

    .naviagtion-bar {

        overflow: hidden;
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    .header-container__content {
        display: none;
    }
}